*{
  box-sizing:border-box;
}
body {
  margin: 0;
  padding: 0;
}

.navbar {
  /* width: 100%; */
  height: 10vh;
  left: 0px;
  margin: 0;
  padding: 0;
  
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
 

  display:flex;
  justify-content: space-between;
}

.navwrapper{
  /* width: 40%; */
  display: flex;
  justify-content: space-evenly;
  margin-right: 80px;
}

.logo{
  width: 57px;
height: 51px;
left: 31px;
top: 8px;
}

.btn{
  /* width: 100px;
height: 25px; */
padding:8px;
/* margin-left: 85%; */
text-align: center;
margin-top: 10px;
font-weight: bold;
border: none;
/* background-color: rgb(207, 201, 201); */
background: none;
border-radius: 5px;
font-size: 16px;
}

.wrapper{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  /* width: 100vw; */
background-image: linear-gradient(to bottom right, #af2896, #fae62d);;
  overflow-x: hidden;
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}
.text{
  color:#fae62d;
  text-align: center;
  font-size: 144px;
  margin-top: 0px;
  font-weight: bold;
  font-family: "TWK Everett", Inter, "Hevetica Neue", Helvetica, apple-system, sans-serif;
  line-height: 130px;
  margin-left: -150px;
}

.codeimg{
  margin-top:145px;
  margin-right: 540px;
  height: 50px;
  width: 50px;
}

button{
  /* width: 380px; */
  /* height: 50px; */
  border-radius: 60px;
  background-color: #b103fc;
  color: white;
  font-size: 25px;
  border: none;
}

